.card-body {
  position: relative;
  z-index: 5;
  color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-body::after {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(34, 34, 34, 0.68);
  z-index: -1;
}
#card-body-1.card-body {
  background-image: url('../img/real_estate.jpg');
}
#card-body-2.card-body {
  background-image: url('../img/web.jpg');
}
#card-body-3.card-body {
  background-image: url('../img/bar.jpg');
}
#card-body-4.card-body {
  background-image: url('../img/pet.jpg');
}
.hiddenURL {
  display: none;
}
#modalCompanyName {
  color: #395bf2;
}
#signInPrompt {
  width: 400px;
  margin: auto;
  top: 40%;
  transform: translateY(-50%);
}
.card-container > .card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 16px;
  padding-right: 16px;
  border-width: 0px;
}
.card-container > .card > div {
  border-radius: 4px;
  border: 1px solid #e2e2e2;
  height: 340px;
  display: flex;
  flex-direction: column;
  width: 256px;
  min-width: 256px;
}
.card-body > form > input[type='submit'],
.nonlog-cmpy-visit {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e2822c;
  border-width: 0px;
  color: whitesmoke;
}
