footer#site-footer {
    padding: 40px 0px;
    background-color: #dfe1e3;
}
#footer-row.row {
    justify-content: space-evenly;
    align-items: flex-start;
}
#footer-row.row > div > div {
    display:inline-block;
    margin: 0px auto;
}
#footer-row.row > div {
    display: flex;
    justify-content: space-around;
    margin: 10px 0px 0px;
}
small#slogan {
    margin-top:10px;
}
.footer-title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight:500;
}
#footer-social-container {
    max-width:220px;
}
.social-icon-container > i {
    margin-right: 4px;
}
@media (max-width: 767px) {
    .col-md-4 > .footer-grid {
        text-align: center;
        margin: 10px 0px !important;
    }
}