#site-nav.navbar-expand-lg {
    padding: 0px;
}
#site-nav.navbar-expand-lg a {
    font-size:17px;
}
#navbarsExample10 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#logo-png {
    width: 20px;
    margin:0px 10px;
}
.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
}