#product-card {
  width: 500px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.bd-placeholder-img {
  width: 200px;
  height: 200px;
}

#productImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.product-deatil {
  margin-left: 10px;
  margin-top: 20px;
}

.price-container {
  margin-left: 10px;
}

.rating-counter-container {
  margin-left: 10px;
  position: relative;
}

.product-info {
  margin-left: 10px;
  margin-top: 15px;
}
